{% block main %}
    <div id="tab_talleres">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h1>Listado de Talleres</h1>
                </div>
            </div>

            <div class="row">
                <div class="card material-table">
                    <div class="table-header">
                        <span class="table-title">Talleres</span>
                        <div class="actions">
                            <a class="tooltipped modal-trigger btn-flat waves-effect waves-teal nopadding" href="{{ url_for('taller_new_form') }}" data-position="top" data-tooltip="Crear taller"><i class="material-icons">add</i></a>
                            <a class="tooltipped modal-trigger btn-flat waves-effect waves-teal nopadding" href="#modalFilters" data-position="top" data-tooltip="Filtros">
                                <i class="large material-icons">search</i>
                            </a>
                        </div>
                    </div>
                    <div hidden id="progress" class="row">
                        <p class="teal-text center"><b>Operación en progreso ...</b></p>
                        <div class="progress">
                            <div class="indeterminate orange"></div>
                        </div>
                    </div>
                    <div hidden id="actionSuccess" class="row">
                        <p class="teal-text center"><b>Operación exitosa!</b></p>
                        <div class="progress">
                            <div class="determinate green" style="width: 100%"></div>
                        </div>
                    </div>
                    <div hidden id="actionError" class="row">
                        <p class="teal-text center"><b>Ha Ocurrido un error</b></p>
                        <div class="progress">
                            <div class="determinate red" style="width: 100%"></div>
                        </div>
                    </div>
                    <table id="tablaTalleres" class="highlight nowrap" style="width:100%">
                        <thead>
                        <tr class="orange">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Nombre corto</th>
                            {% if has_permission('taller_update', session) %}
                                <th class="nosort">Editar</th>
                            {% endif %}
                            {% if has_permission('taller_destroy', session) %}
                                <th class="nosort">Eliminar</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tfoot>
                        <tr class="orange">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Nombre corto</th>
                            {% if has_permission('taller_update', session) %}
                                <th class="nosort">Editar</th>
                            {% endif %}
                            {% if has_permission('taller_destroy', session) %}
                                <th class="nosort">Eliminar</th>
                            {% endif %}
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="col-md-12 center text-center">
                <span class="left" id="total_reg"></span>
                <ul class="pagination pager" id="pager"></ul>
            </div>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large tooltipped modal-trigger teal waves-effect waves-light" href="#modalFilters" data-position="left" data-tooltip="Filtros">
                    <i class="large material-icons">search</i>
                </a>
            </div>

            <!-- Modal Structure -->
            <div id="modalFilters" class="modal bottom-sheet modal-fixed-footer">
                <div class="modal-content">
                    <h3 class="header">Filtrar el listado de Talleres</h3>
                    <ul class="collection">
                        <li class="collection-item">
                            <div class="row valign-wrapper center-align">
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="filterNombreTaller" type="text">
                                    <label for="filterNombreTaller">Filtrar por nombre</label>
                                </div>
                                <div class="col s2">
                                    <a class="eraseFilter btn blue-grey waves-effect waves-light hoverable tooltipped" data-position="bottom" data-tooltip="Borrar filtro"><i class="fas fa-eraser" ></i></a>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="row valign-wrapper center-align">
                                <div class="input-field col s10">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="filterNombreCortoTaller" type="text">
                                    <label for="filterNombreCortoTaller">Filtrar por nombre corto</label>
                                </div>
                                <div class="col s2">
                                    <a class="eraseFilter btn blue-grey waves-effect waves-light hoverable tooltipped" data-position="bottom" data-tooltip="Borrar filtro"><i class="fas fa-eraser" ></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="resetFilters btn blue waves-effect waves-light hoverable tooltipped" data-position="left" data-tooltip="Reiniciar Filtros"><i class="material-icons">find_replace</i></a>
                    <a class="modal-action modal-close waves-effect waves-teal btn-flat">Cerrar</a>
                </div>
            </div>

            {% if has_permission('taller_update', session) %}
                {% include 'partials/modals/modal_editar_taller.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.material.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filtersReset.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataToModalTaller.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#modalFilters').modal();
            $('.tooltipped').tooltip();
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#tablaTalleres').DataTable( {
                "ajax": {
                    "url": "{{ url_for('taller_all') }}",
                    "dataType": "json",
                    "dataSrc": "",
                    "contentType":"application/json"
                },
                "columns": [
                    {"data": "id"},
                    {"data": "nombre"},
                    {"data": "nombre_corto"},
                    {% if has_permission('taller_update', session) %}
                        {
                            data: null,
                            className: "center",
                            "render": function(data, type){
                                if(type === 'display'){
                                    data = '<a class="editButton btn blue-grey waves-effect waves-light hoverable"><i class="fas fa-edit"></i></a>';
                                }

                                return data;
                            }
                        },
                    {% endif %}
                    {% if has_permission('taller_destroy', session) %}
                        {
                            data: null,
                            className: "center",
                            "render": function(data, type){
                                if(type === 'display'){
                                    data = '<a class="deleteButton btn red waves-effect waves-light hoverable"><i class="material-icons">delete</i></a>';
                                }

                                return data;
                            }
                        },
                    {% endif %}
                ],
                "language": {
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Última",
                        "next":       "<i class=\"material-icons\">chevron_right</i>",
                        "previous":   "<i class=\"material-icons\">chevron_left</i>"
                    },
                    "info":           "Mostrando resultados <b>_START_</b> al <b>_END_</b> de un total de <b>_TOTAL_</b>",
                    "infoFiltered": "<br><b>Hay datos filtrados (_MAX_ sin filtrar)</b>",
                    "sEmptyTable": "No hay datos para mostrar",
                    "sInfoEmpty": "No hay datos para mostrar",
                },
                "columnDefs": [
                    { "orderable": false, "targets": 'nosort' } // Disable sorting for column 9
                ],
                sDom: 't,i,p', // Hide info
                pageLength: $('#items-per-page').data("ammount"),
                "scrollX": true
            } );
            setInterval( function () {
                var table = $('#tablaTalleres').DataTable();
                table.ajax.reload( null, false ); // user paging is not reset on reload
            }, 5000 );
        } );
    </script>
    <script> // Filtros
    $(document).ready(function(){
        var table = $('#tablaTalleres').DataTable();
        $("#filterNombreTaller").on("keyup change", function() {
            table
                .columns( 1 )
                .search( this.value )
                .draw();
        });
        $("#filterNombreCortoTaller").on("keyup change", function() {
            table
                .columns( 2 )
                .search( this.value )
                .draw();
        });
    });
    </script>
    <script>
        $(document).ready(function(){
            $('#modalEditarTaller').modal();
        });
    </script>
    <script>
        // Editar taller
        $('#tablaTalleres').on('click', 'a.editButton', function (e) {
            var table = $('#tablaTalleres').DataTable();
            var rowData = table.row($(this).parents("tr")).data();
            var t_id = rowData['id'];
            $.ajax({
                type: "GET",
                url: "{{ url_for('taller') }}",
                data: {
                    id: t_id
                },
                success: function (response) {
                    dataToModalTaller(response);
                    $('#modalEditarTaller').modal('open');
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                }
            });
        });
    </script>
{% endblock %}