<div id="modalAsociarDocentes" class="modal">
    <header class="modal-header">Asociar docentes al taller</header>
    <form id="tallerAsociarDocentes" method="post" action="{{ url_for('taller_set_docentes') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input id="modal_id_taller" name="taller_id" type="number" hidden>
        <div class="modal-content">
            <div class="row">
                <div class="col s12 input-field">
                    <select id="modal_select_ciclo" name="ciclo_lectivo_id" required>
                    </select>
                    <label for="modal_select_ciclo">Ciclo lectivo</label>
                </div>
                <div class="col s12 input-field">
                    <select id="modal_select_docentes" multiple name="modal_select_docentes">
                        {% for docente in docentes %}
                            <option value="{{docente.id}}">{{docente.apellido}}, {{docente.nombre}}</option>
                        {% endfor %}
                    </select>
                    <label for="modal_select_docentes">Docentes</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue waves-effect waves-button-input">Aplicar</button>
            <button id="cancelar" class="btn red waves-effect waves-light">Cancelar</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $("#modal_select_ciclo").on('change', function(e){
            $.ajax({
                type: "GET",
                url: "{{ url_for('taller_ciclo_docentes') }}",
                data: {
                    t_id: $('#modalAsociarDocentes').find('#modal_id_taller').val(),
                    c_id: $('#modal_select_ciclo').val()
                },
                success: function (response) {
                    $('#modal_select_docentes').val(null);
                    for (var key in response){
                        $("#modal_select_docentes option[value='" + response[key]['id'] + "']").prop("selected", true);
                    }
                    $('#modal_select_docentes').formSelect();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#modalAsociarDocentes').find('#cancelar').click(function(e){
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "{{ url_for('taller_ciclo_docentes') }}",
                data: {
                    t_id: $('#modalAsociarDocentes').find('#modal_id_taller').val(),
                    c_id: $('#modal_select_ciclo').val()
                },
                success: function (response) {
                    $('#modal_select_docentes').val(null);
                    for (var key in response){
                        $("#modal_select_docentes option[value='" + response[key]['id'] + "']").prop("selected", true);
                    }
                    $('#modal_select_docentes').formSelect();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        var frm = $('#tallerAsociarDocentes');
        frm.submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (response) {
                    var toastText = response['msg'];
                    var toastClass = response['type'];
                    M.toast({html: toastText, classes: toastClass});
                },
                statusCode: {
                    409: function (jqXHR) {
                        M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                    },
                    500: function (jqXHR) {
                        console.log(jqXHR);
                        M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                    }
                }
            });
        });
    });
</script>