<div id="modalAltaCiclo" class="modal">
    <header class="modal-header">Crear Ciclo Lectivo</header>
    <form id="altaCiclo" method="post" action="{{ url_for('ciclo_new') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="modal-content">
            <div class="row">
                <div class="col s12 input-field">
                    <select id="semestre" name="semestre">
                        <option value=1 selected>Semestre 1</option>
                        <option value=2>Semestre 2</option>
                    </select>
                    <label for="semestre">Semestre</label>
                </div>
                <div class="col s12 input-field">
                    <label for="fecha_inicio">Fecha de inicio</label>
                    <input id="fecha_inicio" name="fecha_inicio" class="datepicker" type="text" required>
                </div>
                <div class="col s12 input-field">
                    <label for="fecha_fin">Fecha de finalización</label>
                    <input id="fecha_fin" name="fecha_fin" class="datepicker" type="text" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue waves-effect waves-button-input">Guardar</button>
            <button id="cancelarAltaCiclo" class="btn red waves-effect waves-light">Reiniciar</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        let current_year = new Date().getFullYear();
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            parse: true,
            yearRange: [current_year, current_year + 10],
            i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"],
                cancel: 'Cerrar',
                done: 'Seleccionar',
            }
        })
    })
</script>
<script>
    $(document).ready(function() {
        $("#cancelarAltaCiclo").click(function(e){
            e.preventDefault();
            $('#altaCiclo').trigger("reset");
        });
    });
</script>
<script>
    $(document).ready(function() {
        var frm = $('#altaCiclo');

        frm.submit(function (e) {
            e.preventDefault();
            $('#modalAltaCiclo').modal('close');
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (response) {
                    $('#altaCiclo').trigger("reset");
                    var toastText = response['msg'];
                    var toastClass = response['type'];
                    M.toast({html: toastText, classes: toastClass});
                },
                statusCode: {
                    400: function (jqXHR) {
                        M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                    },
                    409: function (jqXHR) {
                        M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                    },
                    500: function (jqXHR) {
                        M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                    }
                }
            });
        });
    });
</script>