<html>
<style>
    body {
        background-color: #f2f3f4; /* Anti flash white */
    }
</style>
<body>
    <h1>¡Hola {{ params['first_name'] }}! Un Administrador ha modificado los datos de tu cuenta</h1>
    <p>Revisalos, es importante que sepas la información relacionada a tu usuario</p>
    <p><b>Nombre de usuario:</b> {{ params['username'] }}</p>
    <p><b>Nombre:</b> {{ params['first_name'] }}</p>
    <p><b>Apellido:</b> {{ params['last_name'] }}</p>
    <p><b>Email:</b> {{ params['email'] }}</p>
    <p><b>Mis roles:</b> {{ roles }}</p>
    <p><b>¿Estoy bloqueado?:</b>
        {% if (params['activo'] == 0) %} Sí (no podés utilizar la página web, necesitás que un administrador te habilite la cuenta)
        {% else %} No (podés utilizar sin problemas la página web)
        {% endif %}</p>
    <p>Podés ingresar en el siguiente link: <a href="https://grupo2.proyecto2019.linti.unlp.edu.ar/login">https://grupo2.proyecto2019.linti.unlp.edu.ar/login</a></p>
    <p>¡Muchas gracias!</p>
    <p><u>Administración - Orquesta Escuela de Berisso</u></p>
</body>
</html>