{% extends "layout.html" %}
{% block title %}Iniciar Sesión - Orquesta Escuela de Berisso{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header %}
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a href="{{ url_for('index') }}" class="brand-logo center">
                <img src="../static/img/logo-black.png" width="96" class="responsive-img" alt="Logo Orquesta Escuela de Berisso">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><div class="blue section center"><h5>Orquesta Escuela de Berisso</h5></div></li>
                <div class="section">
                    <li><a class="subheader light-blue white-text">Sección 1</a></li>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li><a class="subheader light-blue white-text">Sección 2</a></li>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li><a class="subheader light-blue white-text">Sección 3</a></li>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                </div>
            </ul>
            <a href="#" aria-label="Abrir menú de navegación" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="container">
      <div class="section center">
        <h5 class="indigo-text">Inicio de sesión</h5>
        <div class="section"></div>

        <div class="container">
          <div class="login z-depth-1 grey lighten-4 row">

            <form class="col s12" action="{{ url_for('auth_authenticate') }}" method="post">
              <div class='row'>
                <div class='col s12'>
                </div>
              </div>

              <div class='row'>
                <div class='input-field col s12'>
                  <input type='text' name='username' id='username' required/>
                  <label for='username'>Ingresa tu usuario</label>
                </div>
              </div>

              <div class='row'>
                <div class='input-field col s12'>
                  <input type='password' name='password' id='password' required/>
                  <label for='password'>Ingresa tu contraseña</label>
                </div>
                <label style='float: right;'>
                  <a class='pink-text' href='passwordreset.html'><b>Olvidaste tu contraseña?</b></a>
                </label>
              </div>

              <br />
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Aceptar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}