{% extends "layout.html" %}
{% block title %}Iniciar Sesión - {{ siteconfig['titulo'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section center">
            <h1 class="indigo-text">Inicio de sesión</h1>
            <p>Podrás acceder a un panel con herramientas según tu rol para gestionar el funcionamiento de la OEB</p>
            <div class="section"></div>

            <div class="login-page row center">
                <div class="col s12 z-depth-6 card-panel">
                    <form class="login-form" action="{{ url_for('auth_authenticate') }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">person</i>
                                <input class="validate" id="username" name="username" type="text">
                                <label for="username">Usuario</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">vpn_key</i>
                                <input id="password" name="password" type="password">
                                <label for="password">Contraseña</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <button type='submit' name='btn_login' class='btn btn-large waves-effect waves-light col s12 z-depth-2'>Aceptar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <p>
                                    <label>
                                        <input type="checkbox"/>
                                        <span>Recordar</span>
                                    </label>
                                </p>
                            </div>
                            <div class="input-field">
                                <p class="margin right-align medium-small"><a href="#">Olvidaste tu contraseña?</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}