{% extends "layout.html" %}
{% block title %}Orquesta Escuela de Berisso{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header %}
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a href="{{ url_for('index') }}" class="brand-logo center">
                <img src="{{ url_for('static', filename='img/logo-black.png') }}" width="96" class="responsive-img" alt="Logo Orquesta Escuela de Berisso">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                {% if is_authenticated(session) %}
                <li><a href="{{ url_for('auth_logout') }}">Cerrar sesión</a></li>
                {% endif %}
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><div class="blue section center"><h5>Orquesta Escuela de Berisso</h5></div></li>
                <div class="section">
                    <li><a class="subheader light-blue white-text">Sección 1</a></li>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    {% if is_authenticated(session) %}
                    <li><a href="{{ url_for('auth_logout') }}">Cerrar sesión</a></li>
                    {% endif %}
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li><a class="subheader light-blue white-text">Sección 2</a></li>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li><a class="subheader light-blue white-text">Sección 3</a></li>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                </div>
            </ul>
            <a href="#" aria-label="Abrir menú de navegación" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="center parallax-title light-blue-text text-darken-2">Orquesta Escuela de Berisso</h1>
                <div class="row center">
                    <h5 class="col s12 white-text">Orquesta Escuela de Berisso</h5>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="{{ url_for('static', filename='img/violin.jpg') }}" alt="Imagen de fondo"></div>
    </div>


    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h4>Acerca de la organización</h4>
                </div>
            </div>

            <!--   Icon Section   -->
            <div class="row z-depth-4">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">library_music</i></h2>
                        <h5 class="center">OEB</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere enim nec nunc faucibus ornare. Aliquam erat volutpat. Nunc pulvinar.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">library_music</i></h2>
                        <h5 class="center">OEB</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere enim nec nunc faucibus ornare. Aliquam erat volutpat. Nunc pulvinar.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">library_music</i></h2>
                        <h5 class="center">OEB</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere enim nec nunc faucibus ornare. Aliquam erat volutpat. Nunc pulvinar.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h4>Ubicación</h4>
                    <p class="text-justify light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>
            <div class="col s12 center z-depth-4">
                <iframe title="Nuestra ubicación en el mapa, calle 50 y 120 La Plata" aria-label="Nuestra ubicación en el mapa, calle 50 y 120 La Plata" src="https://www.openstreetmap.org/export/embed.html?bbox=-57.940210103988655%2C-34.90470526394675%2C-57.936669588088996%2C-34.902751913578335&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/-34.90373/-57.93844">Ver mapa más grande</a></small></div>
        </div>

    </div>

    {% if not is_authenticated(session) %}
    <!-- Floating Login Button -->
    <div class="fixed-action-btn">
        <a class="btn black waves-effect waves-light" href="{{ url_for('auth_login') }}">Ingresar
            <i class="large material-icons">account_circle</i>
        </a>
        <!-- ./Floating Login Button -->
    </div>
    {% endif %}
{% endblock %}