{% extends "layout.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="center parallax-title light-blue-text text-darken-2">Orquesta Escuela de Berisso</h1>
                <div class="row center">
                    <h2 class="col s12 white-text">Orquesta Escuela de Berisso</h2>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="{{ url_for('static', filename='img/violin.jpg') }}" alt="Imagen de fondo"></div>
    </div>


    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 center">
                    <h1 class="light-blue-text text-darken-2">Acerca de la organización</h1>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">library_music</i></h2>
                        <h5 class="center">OEB</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere enim nec nunc faucibus ornare. Aliquam erat volutpat. Nunc pulvinar.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">library_music</i></h2>
                        <h5 class="center">OEB</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere enim nec nunc faucibus ornare. Aliquam erat volutpat. Nunc pulvinar.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">library_music</i></h2>
                        <h5 class="center">OEB</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere enim nec nunc faucibus ornare. Aliquam erat volutpat. Nunc pulvinar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider blue"></div>

    <div class="carousel carousel-slider orange darken-4">
        <a class="carousel-item center"><img class="img-responsive" src="{{ url_for('static', filename='img/carousel1.jpg') }}"></a>
        <a class="carousel-item center"><img class="img-responsive" src="{{ url_for('static', filename='img/carousel2.jpg') }}"></a>
        <a class="carousel-item center"><img class="img-responsive" src="{{ url_for('static', filename='img/carousel3.jpg') }}"></a>
        <a class="carousel-item center"><img class="img-responsive" src="{{ url_for('static', filename='img/carousel4.jpg') }}"></a>
        <a class="carousel-item center"><img class="img-responsive" src="{{ url_for('static', filename='img/carousel5.jpg') }}"></a>
    </div>

    <div class="divider blue"></div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h1 class="light-blue-text text-darken-2">Sumate</h1>
                    <p class="text-justify light">{{ descripcion }}</p>
                </div>
            </div>
            <div class="col s12 center z-depth-4">
                <iframe title="Escuela 25 de Berisso" aria-label="Escuela 25 de Berisso" src="https://www.openstreetmap.org/export/embed.html?bbox=-57.895344793796546%2C-34.92683778809732%2C-57.89180427789689%2C-34.924891561791604&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/-34.90373/-57.93844">Ver mapa más grande</a></small></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true
        });
    </script>
{% endblock %}