<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="Grupo 2">
        <meta name="description" content="Proyecto de Software 2019">
        <meta name="keywords" content="Administracion, Orquesta Escuela de Berisso, Proyecto de Software, 2019, Grupo2">

        <!-- Icons -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" sizes="16x16" />

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import Roboto Font-->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

        <!-- Stylesheets -->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize-social.css') }}" media="screen">

        <meta name="theme-color" content="#343a40">
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        <div id="content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block main %}
            {% endblock %}
        </div>
    </main>
    <!-- Footer -->
    <footer class="page-footer orange darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12 center-align">
                    <a href="{{ url_for('index') }}" class="brand-logo">
                        <img src="../static/img/logo-white.png" width="96" class="responsive-img" alt="Logo Orquesta Escuela de Berisso">
                    </a>
                </div>
                <div class="col l6 s12 center-align">
                    <h5 class="footer-title white-text">Links</h5>
                    <ul>
                        <li><a class="white-text" href="{{ url_for('index') }}">Inicio</a></li>
                        <li><a class="white-text" href="{{ url_for('index') }}">Inicio</a></li>
                        <li><a class="white-text" href="{{ url_for('index') }}">Inicio</a></li>
                        <li><a class="white-text" href="{{ url_for('index') }}">Inicio</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col l12 s12 center-align">
                    <h5 class="footer-title white-text">Visitanos En</h5>
                    <a class="waves-effect waves-light btn social-icon facebook" href="https://www.facebook.com/OrquestaEscuelaBerisso/"><i class="fab fa-facebook"></i></a>
                    <a class="waves-effect waves-light btn social-icon instagram" href="https://www.instagram.com/orquesta_escuela_berisso/"><i class="fab fa-instagram"></i></a>
                    <a class="waves-effect waves-light btn social-icon twitter" href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright white center">
            <div class="container">
                <img src="http://www.oeberisso.com.ar/wp-content/themes/oe/img/logo1.png" class="responsive-img" alt="Logo Programa provincial Orquestas Escuela">
                <img src="http://www.oeberisso.com.ar/wp-content/themes/oe/img/logo2.png" class="responsive-img" alt="Logo Cultura Berisso">
                <img src="http://www.oeberisso.com.ar/wp-content/themes/oe/img/logo3.png" class="responsive-img" alt="Logo Ciudad de Berisso">
                <img src="http://www.oeberisso.com.ar/wp-content/themes/oe/img/logo4.png" class="responsive-img" alt="Logo Buenos Aires Provincia">
                <br>
            </div>
        </div>
        <div class="footer-copyright orange darken-3 center">
            <div class="container">
                Orquesta Escuela de Berisso - Diseñada por <a class="blue-text text-darken-4" href="https://gitlab.catedras.linti.unlp.edu.ar/proyecto2019/grupo2">GRUPO 2</a>
            </div>
        </div>
    </footer>
    <!-- ./Footer -->
    <!-- Preloader -->
    <div class="preloader-background">

        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Preloader -->

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>

    <!-- Materialize -->
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
    <!-- ./Materialize -->

    <!-- FontAwesome -->
    <script src="{{ url_for('static', filename='js/fontawesome.min.js') }}"></script>
    <!-- ./FontAwesome -->

    <!-- ./Scripts -->
</body>
</html>
