<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="Grupo 2">
        <meta name="description" content="Proyecto de Software 2019">
        <meta name="keywords" content="Administracion, Orquesta Escuela de Berisso, Proyecto de Software, 2019, Grupo2">

        <!-- Icons -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" sizes="16x16" />

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import Roboto Font-->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

        <!-- Stylesheets -->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize-social.css') }}" media="screen">

        <meta name="theme-color" content="#343a40">
    {% endblock %}
</head>
<body>
    <header>
        {% include 'partials/nav.html' %}
    </header>
    <main>
        <div id="content" class="center">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for category, message in messages %}
                            <a class="btn-large {{ category }}">{{ message }}</a>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        {% if maintenance_mode == '1' and (has_role('administrador', session) == False) %}
            {% include 'maintenancemode.html' %}
        {% else %}
            {% block main %}
            {% endblock %}
        {% endif %}
    </main>
    {% include 'partials/footer.html' %}

    <!-- Floating Login Button -->
    {% if not is_authenticated(session) %}
        <div class="fixed-action-btn">
            <a class="btn black waves-effect waves-light" href="{{ url_for('auth_login') }}">Ingresar
                <i class="large material-icons">account_circle</i>
            </a>
        </div>
    {% endif %}
    <!-- ./Floating Login Button -->

    <!-- Preloader -->
    <div class="preloader-background">

        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Preloader -->

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>

    <!-- Materialize -->
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
    <!-- ./Materialize -->

    <!-- FontAwesome -->
    <script src="{{ url_for('static', filename='js/fontawesome.min.js') }}"></script>
    <!-- ./FontAwesome -->

    <!-- ./Scripts -->
    {% block scripts %}
    {% endblock %}
</body>
</html>
