{% extends "layout.html" %}
{% block title %}Grupo 2{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header %}
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a href="{{ url_for('index') }}" class="brand-logo center">
          <img src="../static/img/logo-black.png" width="96" class="responsive-img" alt="Logo Orquesta Escuela de Berisso">
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url_for('index') }}">Inicio</a></li>
          <li><a href="#">Panel</a></li>
          <li><a href="#">Logout</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><div class="blue section center"><h5>Orquesta Escuela de Berisso</h5></div></li>
          <div class="section">
            <li><a class="subheader light-blue white-text">General</a></li>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="#">Logout</a></li>
          </div>
          <div class="divider"></div>
          <div class="section">
            <li><a class="subheader light-blue white-text">Preceptor</a></li>
            <li><a href="#">Panel</a></li>
          </div>
          <div class="section container">
            <li><a class="subheader">Registro de asistencias</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#" data-target="dropdownAsistencias">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
          </div>
          <div class="section container">
            <li><a class="subheader">Préstamos</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#" data-target="dropdownPrestamos">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
          </div>
          <div class="section container">
            <li><a class="subheader">Asignar alumno a orquesta</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#" data-target="dropdownAlumnoOrquesta">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
          </div>
          <div class="section container">
            <li><a class="subheader">Ensayos</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#" data-target="dropdownEnsayos">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
          </div>
        </ul>
        <a href="#" aria-label="Abrir menú de navegación" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h4>Preceptoría</h4>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="card sticky-action" style="overflow: visible;">
              <div class="center-align light-blue waves-effect waves-block waves-light">
                <i class="material-icons">assignment_turned_in</i>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Registro de asistencias<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Ver listado</a></p>
              </div>

              <div class="card-action">
                <a href="#">Alta</a>
                <a href="#">Baja</a>
                <a href="#">Modificar justificación</a>
              </div>

              <div class="card-reveal" style="display: none; transform: translateY(0%);">
                <span class="card-title grey-text text-darken-4">Registro de asistencias<i class="material-icons right">close</i></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
              </div>
            </div>
          </div>

          <div class="col s12">
            <div class="card sticky-action" style="overflow: visible;">
              <div class="center-align light-blue waves-effect waves-block waves-light">
                <i class="material-icons">autorenew</i>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Préstamos<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Ver listado</a></p>
              </div>

              <div class="card-action">
                <a href="#">Alta</a>
                <a href="#">Baja</a>
                <a href="#">Modificación</a>
              </div>

              <div class="card-reveal" style="display: none; transform: translateY(0%);">
                <span class="card-title grey-text text-darken-4">Préstamos<i class="material-icons right">close</i></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
              </div>
            </div>
          </div>

          <div class="col s12">
            <div class="card sticky-action" style="overflow: visible;">
              <div class="center-align light-blue waves-effect waves-block waves-light">
                <i class="material-icons">assignment_ind</i>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Asignación de alumnos a orquestas<i class="material-icons right">more_vert</i></span>
                <p><a href="#">Ver listado</a></p>
              </div>

              <div class="card-action">
                <a href="#">Agregar alumno</a>
                <a href="#">Eliminar alumno</a>
              </div>

              <div class="card-reveal" style="display: none; transform: translateY(0%);">
                <span class="card-title grey-text text-darken-4">Asignación de alumnos a orquestas<i class="material-icons right">close</i></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12">
          <div class="card sticky-action" style="overflow: visible;">
            <div class="center-align light-blue waves-effect waves-block waves-light">
              <i class="material-icons">library_music</i>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Ensayos<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Ver listado</a></p>
            </div>

            <div class="card-action">
              <a href="#">Alta</a>
              <a href="#">Baja</a>
              <a href="#">Modificación</a>
            </div>

            <div class="card-reveal" style="display: none; transform: translateY(0%);">
              <span class="card-title grey-text text-darken-4">Ensayos<i class="material-icons right">close</i></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}