{% extends "layout.html" %}
{% block title %}Listado de Usuarios - Orquesta Escuela de Berisso{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header %}
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a href="{{ url_for('index') }}" class="brand-logo center">
                <img src="{{ url_for('static', filename='img/logo-black.png') }}" width="96" class="responsive-img" alt="Logo Orquesta Escuela de Berisso">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                {% if is_authenticated(session) %}
                    <li><a href="{{ url_for('auth_logout') }}">Cerrar sesión</a></li>
                {% endif %}
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><div class="blue section center"><h5>Orquesta Escuela de Berisso</h5></div></li>
                <div class="section">
                    <li><a class="subheader light-blue white-text">Sección 1</a></li>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    {% if is_authenticated(session) %}
                        <li><a href="{{ url_for('auth_logout') }}">Cerrar sesión</a></li>
                    {% endif %}
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li><a class="subheader light-blue white-text">Sección 2</a></li>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li><a class="subheader light-blue white-text">Sección 3</a></li>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                </div>
            </ul>
            <a href="#" aria-label="Abrir menú de navegación" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h4>Listado de Usuarios</h4>
                </div>
            </div>

            {% if users %}
                <div class="col s12 center z-depth-2" style="overflow-x:auto;">
                    <table class="black highlight">
                        <thead>
                        <tr class="orange">
                            {% for key in users[0] %}
                                <th> {{ key }} </th>
                            {% endfor %}
                        </tr>
                        </thead>

                        <tbody>
                        {% for dict_item in users %}
                            <tr>
                                {% for value in dict_item.values() %}
                                    <td class="white-text"> {{ value }} </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}