{% extends "layout.html" %}
{% block title %}Listado de Usuarios - Orquesta Escuela de Berisso{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h4>Listado de Usuarios</h4>
                </div>
            </div>

            {% if users %}
                <div class="col s12 center z-depth-2" style="overflow-x:auto;">
                    <table class="black highlight">
                        <thead>
                        <tr class="orange">
                            {% for key in users[0] %}
                                <th> {{ key }} </th>
                            {% endfor %}
                        </tr>
                        </thead>

                        <tbody>
                        {% for dict_item in users %}
                            <tr>
                                {% for value in dict_item.values() %}
                                    <td class="white-text"> {{ value }} </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}