{% extends "layout.html" %}
{% block title %}Mi Cuenta - {{ siteconfig['titulo'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">
            <div class="card-panel z-depth-5">
                <div class="row">
                    <h4 class="center">Mi Cuenta</h4>
                    <div class="divider"></div>
                    <div class="col s6" style="padding: 5%">
                        <div class="row">
                            <h5 class="col s12">Modificar email y contraseña</h5>
                            <form class="col s12" method="POST" action="{{ url_for('user_email_update') }}" id="email_form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="hidden" id="userAux" value="{{ username }}"/>
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <i class="material-icons prefix">mail</i>
                                        <!--<input id="email" name="email" type="email" class="validate" placeholder="{{ siteconfig['email_contacto'] }}" value="{{ siteconfig['email_contacto'] }}" required>-->
                                        <input id="email" name="email" type="email" class="validate" placeholder="{{ email }}" value="{{ email }}" required>
                                        <label for="email">Email</label>
                                    </div>
                                </div><!--row-->
                                <button class="btn blue waves-effect waves-light right" type="submit" form="email_form">Modificar</button>
                            </form>
                        </div><!--row-->
                        <div class="row">
                            <form class="col s12" method="post" action="{{ url_for('user_password_update') }}" id="password_form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input id="password" name="password" type="password" class="validate" required>
                                        <label for="password">Contraseña</label>
                                    </div>
                                </div><!--row-->
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input id="confirm_password" name="confirm_password" type="password" class="validate" required>
                                        <label for="confirm_password">Confirmar contraseña</label>
                                    </div>
                                </div><!--row-->
                                <button class="btn blue waves-effect waves-light right" type="submit" form="password_form">Modificar</button>
                            </form>
                        </div><!--row-->
                    </div><!--col-->
                    <div class="col s6" style="padding: 5%">
                        <h5 class="center">Mis datos</h5>
                        <table class="responsive-table">
                            <tr>
                                <th>Nombre de usuario</th>
                                <td id="username"></td>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <td id="nombre"></td>
                            </tr>
                            <tr>
                                <th>Apellido</th>
                                <td id="apellido"></td>
                            </tr>
                            <tr>
                                <th>Mis roles</th>
                                <td id="roles"></td>
                            </tr>
                        </table>
                    </div>
                </div><!--row-->
            </div><!--card-->
        </div><!--section-->
    </div><!--conatiner-->
{% endblock %}
{% block scripts %}
    <script>
        var password = document.getElementById("password");
        var confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Los datos ingresados no coinciden");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "{{ url_for('user') }}",
                data: JSON.stringify({"username": $('#userAux').val()}),
                dataType: 'json',
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    //$('#activo').prop('checked', response['activo']);
                    $('#username').text(response['username']);
                    $('#nombre').text(response['first_name']);
                    $('#apellido').text(response['last_name']);
                    str = "";
                    first = true;
                    for (var i in response['roles']) {
                        if (!first) str += ', ';
                        str += response['roles'][i]['nombre'];
                        first = false;
                    }
                    $('#roles').text(str);
                    M.updateTextFields();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                }
            });
        })
    </script>
{% endblock %}
