{% extends "layout.html" %}
{% block title %}Panel Administrador - Orquesta Escuela de Berisso{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h1>Administración</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="fas fa-cogs fa-3x"></i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Configuración del sitio<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver acciones</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Editar datos del sitio</a>
                            <!-- Switch -->
                            <div class="switch center">
                                <p>Modo Mantenimiento</p>
                                <label>
                                    Deshabilitado
                                    {% if maintenance_mode == '1' %}
                                        <input id="switchMantenimiento" type="checkbox" checked="checked">
                                    {% else %}
                                        <input id="switchMantenimiento" type="checkbox">
                                    {% endif %}
                                    <span class="lever"></span>
                                    Habilitado
                                </label>
                            </div>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Configuración del sitio<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="fas fa-user fa-3x"></i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Usuarios<i class="material-icons right">more_vert</i></span>
                            <p><a href="{{ url_for('user_list') }}">Ver listado</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#modalAltaUsuario" class="modal-trigger" >Alta</a>
                            <a href="#">Baja</a>
                            <a href="#">Modificación</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Usuarios<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>

                {% include 'partials/modal_alta_usuario.html' %}

                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="fas fa-graduation-cap fa-3x"></i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Alumnos<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver listado</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Alta</a>
                            <a href="#">Baja</a>
                            <a href="#">Modificación</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Alumnos<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="fas fa-chalkboard-teacher fa-3x"></i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Docentes / Preceptores<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver listado</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Alta</a>
                            <a href="#">Baja</a>
                            <a href="#">Modificación</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Docentes / Preceptores<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="fas fa-guitar fa-3x"></i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Instrumentos<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver listado</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Alta</a>
                            <a href="#">Baja</a>
                            <a href="#">Modificación</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Instrumentos<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="fas fa-podcast fa-3x"></i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Orquestas<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver listado</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Alta</a>
                            <a href="#">Baja</a>
                            <a href="#">Modificación</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Orquestas<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.modal').modal();
            $('select').formSelect();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#switchMantenimiento").on("change", function(){
                $.ajax({
                    type: "POST",
                    url : '/mantenimiento'
                });
                $("#switchMantenimientoNav").prop("checked",$(this).prop("checked"));
            });
        });
    </script>
{% endblock %}
