{% extends "layout.html" %}
{% block title %}Grupo 2{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header %}
    <!-- Dropdown Structure -->
    <ul id="dropdownAlumnos" class="dropdown-content">
        <li><a href="#">Ver Listado</a></li>
        <li><a href="#">Alta</a></li>
        <li><a href="#">Baja</a></li>
        <li><a href="#">Modificación</a></li>
    </ul>
    <!-- Dropdown Structure -->
    <ul id="dropdownDocentesPreceptores" class="dropdown-content">
        <li><a href="#">Ver Listado</a></li>
        <li><a href="#">Alta</a></li>
        <li><a href="#">Baja</a></li>
        <li><a href="#">Modificación</a></li>
    </ul>
    <!-- Dropdown Structure -->
    <ul id="dropdownInstrumentos" class="dropdown-content">
        <li><a href="#">Ver Listado</a></li>
        <li><a href="#">Alta</a></li>
        <li><a href="#">Baja</a></li>
        <li><a href="#">Modificación</a></li>
    </ul>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a href="{{ url_for('index') }}" class="brand-logo center">
                <img src="../{{ url_for('static', filename='img/logo-black.png') }}" width="96" class="responsive-img" alt="Logo Orquesta Escuela de Berisso">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="#">Panel</a></li>
                {% if session %}
                    <li><a href="{{ url_for('auth_logout') }}">Cerrar sesión</a></li>
                {% endif %}
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><div class="blue section center"><h5>Orquesta Escuela de Berisso</h5></div></li>
                <div class="section">
                    <li><a class="subheader light-blue white-text">General</a></li>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    {% if session %}
                    <li><a href="{{ url_for('auth_logout') }}">Cerrar sesión</a></li>
                    {% endif %}
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li><a class="subheader light-blue white-text">Administrador</a></li>
                    <li><a href="#">Panel</a></li>
                </div>
                <div class="section container">
                    <li><a class="subheader">Configuración del sitio</a></li>
                    <li><a href="#">Configurar</a></li>
                </div>
                <div class="section container">
                    <li><a class="subheader">Alumnos</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#" data-target="dropdownAlumnos">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
                </div>
                <div class="section container">
                    <li><a class="subheader">Docentes/Prec</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#" data-target="dropdownDocentesPreceptores">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
                </div>
                <div class="section container">
                    <li><a class="subheader">Instrumentos</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#" data-target="dropdownInstrumentos">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
                </div>
            </ul>
            <a href="#" aria-label="Abrir menú de navegación" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h4>Administración</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="material-icons">mode_edit</i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Configuración del sitio<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver acciones</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Editar datos del sitio</a>
                            <a href="#">Mantenimiento</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Configuración del sitio<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="material-icons">book</i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Alumnos<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver listado</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Alta</a>
                            <a href="#">Baja</a>
                            <a href="#">Modificación</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Alumnos<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="material-icons">contacts</i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Docentes / Preceptores<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver listado</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Alta</a>
                            <a href="#">Baja</a>
                            <a href="#">Modificación</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Docentes / Preceptores<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card sticky-action" style="overflow: visible;">
                    <div class="center-align light-blue waves-effect waves-block waves-light">
                        <i class="material-icons">library_music</i>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Instrumentos<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Ver listado</a></p>
                    </div>

                    <div class="card-action">
                        <a href="#">Alta</a>
                        <a href="#">Baja</a>
                        <a href="#">Modificación</a>
                    </div>

                    <div class="card-reveal" style="display: none; transform: translateY(0%);">
                        <span class="card-title grey-text text-darken-4">Instrumentos<i class="material-icons right">close</i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card sticky-action" style="overflow: visible;">
                    <div class="center-align light-blue waves-effect waves-block waves-light">
                        <i class="material-icons">people</i>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Orquestas<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Ver listado</a></p>
                    </div>

                    <div class="card-action">
                        <a href="#">Alta</a>
                        <a href="#">Baja</a>
                        <a href="#">Modificación</a>
                    </div>

                    <div class="card-reveal" style="display: none; transform: translateY(0%);">
                        <span class="card-title grey-text text-darken-4">Orquestas<i class="material-icons right">close</i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
