{% extends "layout.html" %}
{% block title %}Panel Administrador - {{ siteconfig['titulo'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h1>Administración</h1>
                </div>
            </div>
            {% if has_role('administrador', session) %}
                <div class="row">
                    <h6 class="center-align">A continuación se detallan las distintas acciones que puede realizar como <span class="light-blue-text">Administrador</span></h6>
                    <br>

                    {% if has_permission('config_update', session) %}
                        <div class="col s12">
                            <div class="card" style="overflow: visible;">
                                    <a {% if has_permission('config_update', session) %} href="#modalConfiguracion" class="modal-trigger" {% endif %}>
                                        <div class="center-align light-blue waves-effect waves-block waves-light">
                                            <i class="fas fa-cogs fa-3x black-text"></i>
                                        </div>
                                    </a>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Configuración del sitio<i class="material-icons right">more_vert</i></span>
                                </div>

                                <div class="card-action">
                                    <a href="#modalConfiguracion" class="modal-trigger">Configurar</a>
                                    <!-- Switch -->
                                    <div class="switch center">
                                        <p>Modo mantenimiento</p>
                                        <label>
                                            Deshabilitado
                                            {% if siteconfig['modo_mantenimiento'] == 1 %}
                                                <input id="switchMantenimiento" type="checkbox" checked="checked">
                                            {% else %}
                                                <input id="switchMantenimiento" type="checkbox">
                                            {% endif %}
                                            <span class="lever"></span>
                                            Habilitado
                                        </label>
                                    </div>
                                </div>

                                <div class="card-reveal" style="display: none; transform: translateY(0%)">
                                    <span class="card-title grey-text text-darken-4">Configuración del sitio<i class="material-icons right">close</i></span>
                                    <p>Podrás configurar distintos parámetros del sitio, entre ellos: el título, la descripción, el mail de contacto y la cantidad de elementos por página (en tablas y listas). Además podrá deshabilitar el sitio en caso de mantenimiento, de esta manera nadie podrá acceder, excepto los usuarios administradores.</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% include 'partials/modal_configuracion.html' %}

                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <a {% if has_permission('usuario_index', session) %} href="{{ url_for('user_table') }}" {% endif %}>
                                <div class="center-align light-blue waves-effect waves-block waves-light">
                                    <i class="fas fa-user fa-3x black-text"></i>
                                </div>
                            </a>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Usuarios<i class="material-icons right">more_vert</i></span>
                                {% if has_permission('usuario_index', session) %}
                                    <p><a href="{{ url_for('user_table') }}">Ver listado</a></p>
                                {% endif %}
                            </div>

                            <div class="card-action">
                                {% if has_permission('usuario_new', session) %}
                                    <a href="{{ url_for('user_new_form') }}" class="modal-trigger" >Alta</a>
                                {% endif %}
                                {% if has_permission('usuario_destroy', session) %}
                                    <a href="{{ url_for('user_destroy_form') }}">Baja</a>
                                {% endif %}
                                {% if has_permission('usuario_update', session) %}
                                    <a href="{{ url_for('user_edit_form') }}">Modificación</a>
                                {% endif %}
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Usuarios<i class="material-icons right">close</i></span>
                                <p>Podrás ver el listado de usuarios completo con toda su información relacionada. Además podrás agregar, eliminar, modificar los datos y activar o deshabilitar usuarios.</p>
                            </div>
                        </div>
                    </div>

                    {% include 'partials/modal_alta_usuario.html' %}

                </div>
                <div class="row">
                    <div class="divider"></div>
                    <h6 class="center-align red-text">Proximamente</h6>
                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="fas fa-graduation-cap fa-3x"></i>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Alumnos<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">Ver listado</a></p>
                            </div>

                            <div class="card-action">
                                <a href="#">Alta</a>
                                <a href="#">Baja</a>
                                <a href="#">Modificación</a>
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Alumnos<i class="material-icons right">close</i></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="fas fa-chalkboard-teacher fa-3x"></i>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Docentes / Preceptores<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">Ver listado</a></p>
                            </div>

                            <div class="card-action">
                                <a href="#">Alta</a>
                                <a href="#">Baja</a>
                                <a href="#">Modificación</a>
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Docentes / Preceptores<i class="material-icons right">close</i></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="fas fa-guitar fa-3x"></i>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Instrumentos<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">Ver listado</a></p>
                            </div>

                            <div class="card-action">
                                <a href="#">Alta</a>
                                <a href="#">Baja</a>
                                <a href="#">Modificación</a>
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Instrumentos<i class="material-icons right">close</i></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="fas fa-podcast fa-3x"></i>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Orquestas<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">Ver listado</a></p>
                            </div>

                            <div class="card-action">
                                <a href="#">Alta</a>
                                <a href="#">Baja</a>
                                <a href="#">Modificación</a>
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Orquestas<i class="material-icons right">close</i></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if has_role('docente', session) %}
                <div class="row">
                    <h6 class="center-align">A continuación se detallan las distintas acciones que puede realizar como <span class="light-blue-text">Docente</span></h6>
                    <br>
                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="material-icons">mode_edit</i>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Registro de asistencias<i title="Información del panel" style="cursor: pointer" class="material-icons right activator">more_vert</i></span>
                            </div>
                            <div class="card-reveal" style="display: none; transform: translateY(0%)">
                                <span class="card-title grey-text text-darken-4">Detalle<i class="material-icons right">close</i></span>
                                <p>Para registrar las asistencias de los alumnos en sus respectivas actividades, consultar estadísticas y ver porcentajes. También podrá modificar el nivel de un alumno y justificar las inasistencias.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Ir al panel</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="material-icons">mode_edit</i>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Asignación de alumnos a orquestas<i title="Información del panel" style="cursor: pointer" class="material-icons activator right">more_vert</i></span>
                            </div>

                            <div class="card-action">
                                <a href="#">Ir al panel</a>
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Detalle<i class="material-icons right">close</i></span>
                                <p>Para asignar alumnos a las orquestas disponibles.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="material-icons">mode_edit</i>
                            </div>
                            <div class="card-content">
                                <span class="card-title grey-text text-darken-4">Registro de ensayos<i title="Información del panel" style="cursor: pointer" class="material-icons activator right">more_vert</i></span>
                            </div>

                            <div class="card-action">
                                <a href="#">Ir al panel</a>
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Detalle<i class="material-icons right">close</i></span>
                                <p>Para registrar los ensayos, definir en qué núcleo y cuándo se llevarán a cabo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if has_role('preceptor', session) %}
                <div class="row">
                    <h6 class="center-align">A continuación se detallan las distintas acciones que puede realizar como <span class="light-blue-text">Preceptor</span></h6>
                    <br>
                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="material-icons">assignment_turned_in</i>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Registro de asistencias<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">Ver listado</a></p>
                            </div>

                            <div class="card-action">
                                <a href="#">Alta</a>
                                <a href="#">Baja</a>
                                <a href="#">Modificar justificación</a>
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Registro de asistencias<i class="material-icons right">close</i></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="material-icons">autorenew</i>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Préstamos<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">Ver listado</a></p>
                            </div>

                            <div class="card-action">
                                <a href="#">Alta</a>
                                <a href="#">Baja</a>
                                <a href="#">Modificación</a>
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Préstamos<i class="material-icons right">close</i></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="material-icons">assignment_ind</i>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Asignación de alumnos a orquestas<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">Ver listado</a></p>
                            </div>

                            <div class="card-action">
                                <a href="#">Agregar alumno</a>
                                <a href="#">Eliminar alumno</a>
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Asignación de alumnos a orquestas<i class="material-icons right">close</i></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s12">
                        <div class="card" style="overflow: visible;">
                            <div class="center-align light-blue waves-effect waves-block waves-light">
                                <i class="material-icons">library_music</i>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Ensayos<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">Ver listado</a></p>
                            </div>

                            <div class="card-action">
                                <a href="#">Alta</a>
                                <a href="#">Baja</a>
                                <a href="#">Modificación</a>
                            </div>

                            <div class="card-reveal" style="display: none; transform: translateY(0%);">
                                <span class="card-title grey-text text-darken-4">Ensayos<i class="material-icons right">close</i></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.modal').modal();
            $('select').formSelect();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#switchMantenimiento").on("change", function(){
                $.ajax({
                    type: "POST",
                    url : '/mantenimiento',
                    success: function (response) {
                        var checked;
                        if(response['modo_mantenimiento'] == 1)
                        {
                            M.toast({html: 'El sitio ahora se encuentra en mantenimiento', classes: 'orange darken-4'});
                            checked = true;
                        }
                        else
                        {
                            M.toast({html: 'El sitio ya no se encuentra en mantenimiento', classes: 'grey darken-2'});
                            checked = false;
                        }
                        $("#switchMantenimiento").prop("checked",checked);
                        $("#switchMantenimientoNav").prop("checked",checked);
                    },
                });
            });
        });
    </script>
{% endblock %}
