{% extends "layout.html" %}
{% block title %}Ver Instrumento - {{ siteconfig['titulo'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h1>Información del Instrumento</h1>
                </div>
            </div>
            <div class="card-panel z-depth-5">
                <div class="row center">
                    {% if instrumento['image_name'] %}
                        <img class="materialboxed" data-caption="{{ instrumento.nombre }} - {{ instrumento.num_inventario }}" width="250" src="{{ url_for('static', filename="uploads/" + instrumento.image_name) }}" alt="Foto del instrumento">
                    {% else %}
                        <img class="materialboxed" data-caption="{{ instrumento.nombre }} - {{ instrumento.num_inventario }}" width="250" src="https://via.placeholder.com/350x150?text=Sin+Imagen" alt="Instrumento sin foto">
                    {% endif %}
                </div>
                <div class="row">
                    <ul>
                        <li>Nombre: {{ instrumento.nombre }}</li>
                        <li>Tipo: {{ instrumento.tipo }}
                        <li>Número de Inventario: {{ instrumento.num_inventario }}</li>
                        <li>Registrado: {{ instrumento.created_at }}</li>
                        <li>Actualizado: {{ instrumento.updated_at }}</li>
                    </ul>
                </div>
                <div class="row center">
                    {% if has_permission('instrumento_update', session) %}
                    <a class="editButton btn blue-grey waves-effect waves-light hoverable"><i class="fas fa-edit"></i></a>
                    {% endif %}
                    {% if has_permission('instrumento_destroy', session) %}
                    <a class="deleteButton btn red waves-effect waves-light hoverable"><i class="material-icons">delete</i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if has_permission('instrumento_update', session) %}
        {% include 'partials/modals/modal_editar_instrumento.html' %}
    {% endif %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/custom/dataToModalInstrumento.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.materialboxed').materialbox();
            $('#modalEditarInstrumento').modal();
            $('select').formSelect();
        });
    </script>
    <script>
        // Edit a record
        $('.editButton').on('click', function (e) {
            const urlParams = new URLSearchParams(window.location.search);
            const id = urlParams.get('id');
            $.ajax({
                type: "GET",
                url: "{{ url_for('instrumento') }}",
                data: {
                    id: id
                },
                success: function (response) {
                    dataToModalInstrumento(response);
                    $('#modalEditarInstrumento').modal('open');
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                }
            });
        });
    </script>
    <script async>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        $(document).ready(function(){
            // Editar instrumento
            var frm = $('#formEditarInstrumento');

            frm.submit(function (e) {
                e.preventDefault();
                $('#progress').show();
                $('#modalEditarInstrumento').modal('close');
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: new FormData(frm[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: async function (response) {
                        M.toast({html: response['msg'], classes: response['type']});
                        await sleep(2000);
                    },
                    error: async function (jqXHR, textStatus, errorMessage) {
                        var toastText = "Ha ocurrido un error (" + errorMessage + ")";
                        M.toast({html: toastText, classes: 'error'});
                    },
                });
            });
        });
    </script>
{% endblock %}