{% extends "layout.html" %}
{% block title %}Grupo 2{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block main %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h4>Preceptoría</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="material-icons">assignment_turned_in</i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Registro de asistencias<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver listado</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Alta</a>
                            <a href="#">Baja</a>
                            <a href="#">Modificar justificación</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Registro de asistencias<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="material-icons">autorenew</i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Préstamos<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver listado</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Alta</a>
                            <a href="#">Baja</a>
                            <a href="#">Modificación</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Préstamos<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <div class="card sticky-action" style="overflow: visible;">
                        <div class="center-align light-blue waves-effect waves-block waves-light">
                            <i class="material-icons">assignment_ind</i>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Asignación de alumnos a orquestas<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">Ver listado</a></p>
                        </div>

                        <div class="card-action">
                            <a href="#">Agregar alumno</a>
                            <a href="#">Eliminar alumno</a>
                        </div>

                        <div class="card-reveal" style="display: none; transform: translateY(0%);">
                            <span class="card-title grey-text text-darken-4">Asignación de alumnos a orquestas<i class="material-icons right">close</i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="card sticky-action" style="overflow: visible;">
                    <div class="center-align light-blue waves-effect waves-block waves-light">
                        <i class="material-icons">library_music</i>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Ensayos<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">Ver listado</a></p>
                    </div>

                    <div class="card-action">
                        <a href="#">Alta</a>
                        <a href="#">Baja</a>
                        <a href="#">Modificación</a>
                    </div>

                    <div class="card-reveal" style="display: none; transform: translateY(0%);">
                        <span class="card-title grey-text text-darken-4">Ensayos<i class="material-icons right">close</i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis fermentum rutrum. Cras sed cursus nibh, ut blandit erat. Duis id velit at sem lacinia tempus eu eu metus. Sed eleifend sed dolor ut ultricies. Curabitur venenatis lacus at nulla iaculis rutrum. Vivamus bibendum massa non blandit blandit. Sed id accumsan nibh. Pellentesque lacinia eleifend metus, at convallis nunc consequat dignissim.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}