{% extends "layout.html" %}
{% block title %}Alta de Usuario - {{ siteconfig['titulo'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section center">
            <div class="row">
                <form method="post" action="{{ url_for('config_update') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="modal-content">
                        <h1>Configuración del sitio</h1>
                        <div class="row">
                            <h2 class="center light-blue-text">Información de contacto</h2>
                            <div class="col s6 input-field">
                                <label for="tituloHome">Título del Home</label>
                                <input id="tituloHome" name="titulo_home" class="validate" type="text" value="{{ siteconfig['titulo'] }}" placeholder="{{ siteconfig['titulo'] }}" required>
                            </div>
                            <div class="col s6 input-field">
                                <label for="email">Email</label>
                                <input id="email" name="email" class="validate" type="email" value="{{ siteconfig['email_contacto'] }}" placeholder="{{ siteconfig['email_contacto'] }}" required>
                            </div>
                            <div class="col s12 input-field">
                                <textarea id="descripcion" name="descripcion" class="materialize-textarea"  placeholder="{{ siteconfig['descripcion'] }}">{{ siteconfig['descripcion'] }}</textarea>
                                <label for="descripcion">Descripción</label>
                            </div>
                        </div>
                        <div class="row">
                            <h2 class="center light-blue-text">Otros</h2>
                            <div class="col s12 input-field">
                                <label for="itemsPorPagina">Elementos por página (paginado)</label>
                                <input id="itemsPorPagina" name="items_por_pagina" class="validate" type="number" step="1" value="{{ siteconfig['items_por_pagina'] }}" placeholder="{{ siteconfig['items_por_pagina'] }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn blue waves-effect waves-light">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
{% endblock %}