{% extends "layout.html" %}
{% block title %}Listado de Docentes - {{ siteconfig['titulo'] }}{% endblock %}
{% block head %}
    {{ super() }}
    <meta id="items-per-page" data-ammount="{{ siteconfig['items_por_pagina'] }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.material.min.css') }}" media="screen">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/responsive.dataTables.min.css') }}" media="screen">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h1>Listado de Docentes</h1>
                </div>
            </div>

            <div class="row">
                <div class="card material-table">
                    <div class="table-header">
                        <span class="table-title">Docentes</span>
                        <div class="actions">
                            <a class="tooltipped modal-trigger btn-flat waves-effect waves-teal nopadding" href="#modalAltaDocente" data-position="top" data-tooltip="Crear Docente"><i class="material-icons">person_add</i></a>
                            <a class="tooltipped modal-trigger btn-flat waves-effect waves-teal nopadding" href="#modalFilters" data-position="top" data-tooltip="Filtros">
                                <i class="large material-icons">search</i>
                            </a>
                        </div>
                    </div>
                    <div hidden id="progress" class="row">
                        <p class="teal-text center"><b>Operación en progreso ...</b></p>
                        <div class="progress">
                            <div class="indeterminate orange"></div>
                        </div>
                    </div>
                    <div hidden id="actionSuccess" class="row">
                        <p class="teal-text center"><b>Operación exitosa!</b></p>
                        <div class="progress">
                            <div class="determinate green" style="width: 100%"></div>
                        </div>
                    </div>
                    <div hidden id="actionError" class="row">
                        <p class="teal-text center"><b>Ha Ocurrido un error</b></p>
                        <div class="progress">
                            <div class="determinate red" style="width: 100%"></div>
                        </div>
                    </div>
                    <table id="tablaDocentes" class="highlight nowrap" style="width:100%">
                        <thead>
                        <tr class="orange">
                            <th>ID</th>
                            <th>Activo</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de nacimiento</th>
                            <th>Localidad</th>
                            <th>Domicilio</th>
                            <th>Genero</th>
                            <th>Tipo de Documento</th>
                            <th>Numero de Documento</th>
                            <th>Numero telefónico</th>
                            {% if has_permission('docente_update', session) %}
                                <th class="nosort">Editar</th>
                            {% endif %}
                            {% if has_permission('docente_destroy', session) %}
                                <th class="nosort">Bloquear/Activar</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tfoot>
                        <tr class="orange">
                            <th>ID</th>
                            <th>Activo</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de nacimiento</th>
                            <th>Localidad</th>
                            <th>Domicilio</th>
                            <th>Genero</th>
                            <th>Tipo de Documento</th>
                            <th>Numero de Documento</th>
                            <th>Numero telefónico</th>
                            {% if has_permission('docente_update', session) %}
                                <th class="nosort">Editar</th>
                            {% endif %}
                            {% if has_permission('docente_destroy', session) %}
                                <th class="nosort">Bloquear/Activar</th>
                            {% endif %}
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            {% if has_permission('docente_new', session) %}
                {% include 'partials/modal_alta_docente.html' %}
            {% endif %}

            {% if has_permission('docente_update', session) %}
                {% include 'partials/modal_editar_docente.html' %}
            {% endif %}

            <div class="col-md-12 center text-center">
                <span class="left" id="total_reg"></span>
                <ul class="pagination pager" id="pager"></ul>
            </div>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large tooltipped modal-trigger teal waves-effect waves-light" href="#modalFilters" data-position="left" data-tooltip="Filtros">
                    <i class="large material-icons">search</i>
                </a>
            </div>

            <!-- Modal Structure -->
            <div id="modalFilters" class="modal bottom-sheet modal-fixed-footer">
                <div class="modal-content">
                    <h3 class="header">Filtrar el listado de Estudiantes</h3>
                    <ul class="collection">
                        <li class="collection-item">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="filterNombreDocente" type="text">
                                <label for="filterNombreDocente">Filtrar por nombre</label>
                            </div>
                        </li>
                        <li class="collection-item">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="filterApellidoDocente" type="text">
                                <label for="filterApellidoDocente">Filtrar por apellido</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-teal btn-flat">Cerrar</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.material.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#modalFilters').modal();
            $('.tooltipped').tooltip();
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#tablaDocentes').DataTable( {
                "ajax": {
                    "url": "{{ url_for('docente_all') }}",
                    "dataType": "json",
                    "dataSrc": "",
                    "contentType":"application/json"
                },
                "columns": [
                    {"data": "id"},
                    {"data": "activo"},
                    {"data": "nombre"},
                    {"data": "apellido"},
                    {"data": "fecha de nacimiento"},
                    {"data": "localidad"},
                    {"data": "domicilio"},
                    {"data": "genero"},
                    {"data": "tipo de documento"},
                    {"data": "numero"},
                    {"data": "tel"},
                    {% if has_permission('docente_update', session) %}
                        {
                            data: null,
                            className: "center",
                            defaultContent: '<a class="editButton btn blue-grey waves-effect waves-light hoverable"><i class="fas fa-edit"></i></a>'
                        },
                    {% endif %}
                    {% if has_permission('docente_destroy', session) %}
                        {
                            data: null,
                            className: "center",
                            defaultContent: '<a class="deleteButton btn black waves-effect waves-light hoverable"><i class="material-icons">loop</i></a>'
                        },
                    {% endif %}
                ],
                "language": {
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Última",
                        "next":       "<i class=\"material-icons\">chevron_right</i>",
                        "previous":   "<i class=\"material-icons\">chevron_left</i>"
                    },
                    "info":           "Mostrando resultados <b>_START_</b> al <b>_END_</b> de un total de <b>_TOTAL_</b>",
                    "infoFiltered": "<br>(<b>_MAX_ sin filtrar</b>)",
                    "sEmptyTable": "No hay datos para mostrar",
                    "sInfoEmpty": "No hay datos para mostrar",
                },
                "columnDefs": [
                    { "orderable": false, "targets": 'nosort' } // Disable sorting for column 9
                ],
                sDom: 't,i,p', // Hide info
                pageLength: $('#items-per-page').data("ammount"),
                "scrollX": true
            } );
            setInterval( function () {
                var table = $('#tablaDocentes').DataTable();
                table.ajax.reload( null, false ); // user paging is not reset on reload
            }, 5000 );
        } );
    </script>
    <script> // Filtros
    $(document).ready(function(){
        var table = $('#tablaDocentes').DataTable();
        $("#filterNombreDocente").on("keyup", function() {
            table
                .columns( 2 )
                .search( this.value )
                .draw();
        });
        $("#filterApellidoDocente").on("keyup", function() {
            table
                .columns( 3 )
                .search( this.value )
                .draw();
        });
    });
    </script>
    <script> // Alta de Docente
    $(document).ready(function(){
        $('#modalAltaDocente').modal();
        $('select').formSelect();
        $('#modalEditarDocente').modal();
    });
    </script>
    <script> // Editar Docente
    // Edit a record
    $('#tablaDocentes').on('click', 'a.editButton', function (e) {
        var table = $('#tablaDocentes').DataTable();
        var rowData = table.row($(this).parents("tr")).data();
        var d_id = rowData['id'];
        $.ajax({
            type: "GET",
            url: "{{ url_for('docente') }}",
            data: {
                id: d_id
            },
            success: function (response) {
                $('#modal_editar_id').val(response['id']);
                $('#modal_editar_activo').prop('checked', response['activo']);
                $('#nombre').attr("placeholder", response['nombre']);
                $('#nombre').attr("value", response['nombre']);
                $('#apellido').attr("placeholder", response['apellido']);
                $('#apellido').attr("value", response['apellido']);
                $('#fecha_nacimiento').attr("placeholder", response['fecha_nac']);
                $('#fecha_nacimiento').attr("value", response['fecha_nac']);
                M.updateTextFields();
                $('#modalEditarDocente').modal('open');
            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log("Error: ", errorMessage);
            }
        });
    });
    </script>
    <script async> // Baja de docente
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    // Delete a record
    $(document).ready(function(){
        $('#tablaDocentes').on('click', 'a.deleteButton', function (e) {
            var table = $('#tablaDocentes').DataTable();
            var rowData = table.row($(this).parents("tr")).data();
            var d_id = rowData['id'];
            var docentename = rowData['nombre'] + ", " + rowData['apellido'];
            var confirmText;
            if(rowData['activo'] == 1)
                confirmText = "bloquear";
            else
                confirmText = "activar";
            if (confirm('¿Está seguro de ' + confirmText + ' al docente "' + docentename + '" (ID: ' + d_id + ')?') == true) {
                $('#progress').show();
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('docente_destroy') }}",
                    data: JSON.stringify({"id": d_id}),
                    dataType: 'json',
                    contentType: 'application/json;charset=UTF-8',
                    success: async function (response) {
                        table.ajax.reload( null, false );
                        $('#progress').delay(2000).fadeOut('slow');
                        await sleep(2000);
                        $('#actionSuccess').show();
                        $('#actionSuccess').delay(2000).fadeOut('slow');
                        M.toast({html: response['msg'], classes: response['type']});
                    },
                    statusCode: {
                        404: async function (jqXHR) {
                            $('#progress').delay(2000).fadeOut('slow');
                            await sleep(2000);
                            $('#actionError').show();
                            $('#actionError').delay(2000).fadeOut('slow');
                            M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                        },
                        500: async function (jqXHR) {
                            $('#progress').delay(2000).fadeOut('slow');
                            await sleep(2000);
                            $('#actionError').show();
                            $('#actionError').delay(2000).fadeOut('slow');
                            M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                        }
                    }
                });
            }
        });
    });
    </script>
{% endblock %}