{% extends "layout.html" %}
{% block title %}Asociar Taller a Ciclo Lectivo - {{ siteconfig['titulo'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section center">
            <div class="row">
                <h1>Asociar Taller A Ciclo Lectivo</h1>
                <form id="tallerAsociar" method="post" action="{{ url_for('taller_set_ciclo') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s12 input-field">
                                <select id="select_taller" name="taller_id" required>
                                    {% for taller in talleres %}
                                        <option value="{{taller.id}}">{{taller.nombre}} ({{taller.nombre_corto}})</option>
                                    {% endfor %}
                                </select>
                                <label for="select_taller">Taller</label>
                            </div>
                            <div class="col s12 input-field">
                                <select id="select_ciclos" multiple name="select_ciclos">
                                    {% for ciclo in ciclos %}
                                        <option value="{{ciclo.id}}">[{{ciclo.fecha_ini}}] al [{{ciclo.fecha_fin}}]</option>
                                    {% endfor %}
                                </select>
                                <label for="select_ciclos">Ciclo</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn blue">Asociar</button>
                        <button id="cancelar" class="btn red">Reiniciar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
            $.ajax({
                type: "GET",
                url: "{{ url_for('taller_ciclos') }}",
                data: {
                    id: $('#select_taller').val()
                },
                success: function (response) {
                    for (var key in response){
                        $("#select_ciclos option[value='" + response[key]['ciclo_lectivo_id'] + "']").prop("selected", true);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                }
            });
            $('#select_ciclos').formSelect();
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#cancelar").click(function(e){
                e.preventDefault();
                $('#tallerAsociar').trigger("reset");
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            var frm = $('#tallerAsociar');

            frm.submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (response) {
                        var toastText = response['msg'];
                        var toastClass = response['type'];
                        M.toast({html: toastText, classes: toastClass});
                    },
                    statusCode: {
                        409: function (jqXHR) {
                            M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                        },
                        500: function (jqXHR) {
                            M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                        }
                    }
                });
            });
        });
    </script>
    <script>
        $('#select_taller').on('change', function() {
            $("#select_ciclos").val("");
            $('#select_ciclos').formSelect();
            $.ajax({
                type: "GET",
                url: "{{ url_for('taller_ciclos') }}",
                data: {
                    id: this.value
                },
                success: function (response) {
                    for (var key in response){
                        $("#select_ciclos option[value='" + response[key]['ciclo_lectivo_id'] + "']").prop("selected", true);
                    }
                    $('#select_ciclos').formSelect();
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                }
            });
        });
    </script>
{% endblock %}