{% extends "layout.html" %}
{% block title %}Activar/bloquear - {{ siteconfig['titulo'] }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section center">
            <div class="row">
                <form id="eliminarUsuario" method="post" action="{{ url_for('user_destroy') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="modal-content">
                        <h1>Activar/bloquear un Usuario</h1>
                        <h6>Recordá que también podés Activar/bloquear usuarios desde el <a href="{{ url_for ('user_table') }}">listado completo de usuarios</a>.</h6>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input class="filterUsuario" id="filterUsuario" type="text">
                                <label for="filterUsuario">Ingrese el nombre de usuario</label>
                                <small id="smallFilter">Si no existe no aparecerá en la pantalla</small>
                            </div>
                        </div>

                        <div id="userForm" class="row" hidden>
                            <input id="id" name="id" type="number" hidden>
                            <div class="col s12 input-field left-align">
                                <p>
                                    <label>
                                        <input id="activo" name="activo" type="checkbox" class="filled-in" checked="checked" disabled>
                                        <span>Activo</span>
                                    </label>
                                </p>
                            </div>
                            <div class="col s12 m6 input-field">
                                <label for="nombre">Nombre</label>
                                <input id="nombre" name="first_name" class="validate active" type="text" disabled>
                            </div>
                            <div class="col s12 m6 input-field">
                                <label for="apellido">Apellido</label>
                                <input id="apellido" name="last_name" class="validate active" type="text" disabled>
                            </div>
                            <div class="col s6 input-field">
                                <label for="username">Nombre de usuario</label>
                                <input id="username"  name="username" class="validate" type="text" disabled>
                            </div>
                            <div class="col s6 input-field">
                                <label for="email">Email</label>
                                <input id="email"  name="email" class="validate" type="email" disabled>
                            </div>
                            <div class="col s12">
                                <select multiple id="select_roles" name="rol_id" class="validate" disabled>
                                    <option value="" disabled>Roles</option>
                                    {% for rol in roles %}
                                        <option value="{{rol.id}}">{{rol.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <divider></divider>
                            <div class="modal-footer col s12">
                                <button type="button" id="cancel" class="btn red">Cancelar</button>
                                <button type="submit" class="btn blue">Activar/bloquear</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $("#filterUsuario").on("keyup", function() {
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('user') }}",
                    data: {
                        username: $(this).val()
                    },
                    success: function (response) {
                        // actualizo el select_roles
                        arr = [];
                        for (var key in response['roles']) {
                            arr[key] = response['roles'][key]['id'];
                        };
                        $("#select_roles").val(arr);
                        // actualizo los campos
                        $('#id').val(response['id']);
                        $('#activo').prop('checked', response['activo']);
                        $('#username').attr('value', response['username']);
                        $('#username').attr('placeholder', response['username']);
                        $('#nombre').attr('value', response['first_name']);
                        $('#nombre').attr('placeholder', response['first_name']);
                        $('#apellido').attr('value', response['last_name']);
                        $('#apellido').attr('placeholder', response['last_name']);
                        $('#email').attr('value', response['email']);
                        $('#email').attr('placeholder', response['email']);
                        M.updateTextFields();
                        userFound();
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log("Error: ", errorMessage);
                        userCancel();
                    }
                });
            });
            $('select').formSelect();
        });
    </script>
    <script>
        function userFound() {
            $('#smallFilter').text("");
            $('#userForm').show(500)
            M.toast({html: '¡Usuario encontrado!', classes: 'green'});
        }
        function userCancel() {
            $('#smallFilter').text("Si no existe no aparecerá en la pantalla");
            $('#userForm').hide(500);
        }
    </script>
    <script>
        $('#cancel').click(function() {
            userCancel();
        })
    </script>
    <script>
        (function ($) {
            $.fn.serializeObject = function () {

                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };
        })(jQuery);
        $(document).ready(function() {
            var frm = $('#eliminarUsuario');

            frm.submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: JSON.stringify($('#eliminarUsuario').serializeObject()),
                    dataType: 'json',
                    contentType: 'application/json;charset=UTF-8',
                    success: function (response) {
                        $('#eliminarUsuario').trigger("reset");
                        var toastText = response['msg'];
                        var toastClass = response['type'];
                        M.toast({html: toastText, classes: toastClass});
                        userCancel();
                    },
                    statusCode: {
                        404: function (jqXHR) {
                            M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}