{% extends "layout.html" %}
{% block title %}Listado de Usuarios - {{ siteconfig['titulo'] }}{% endblock %}
{% block head %}
    {{ super() }}
    <meta id="items-per-page" data-ammount="{{ siteconfig['items_por_pagina'] }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.material.min.css') }}" media="screen">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/responsive.dataTables.min.css') }}" media="screen">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h1>Listado de Usuarios</h1>
                </div>
            </div>

            <div class="row">
                <div class="card material-table">
                    <div class="table-header">
                        <span class="table-title">Usuarios</span>
                        <div class="actions">
                            <a class="tooltipped modal-trigger waves-effect btn-flat nopadding" href="#modalAltaUsuario" data-position="top" data-tooltip="Crear Usuario"><i class="material-icons">person_add</i></a>
                            <a class="tooltipped modal-trigger btn-flat nopadding" href="#modalFilters" data-position="top" data-tooltip="Filtros">
                                <i class="large material-icons">search</i>
                            </a>
                        </div>
                    </div>
                    <table id="tablaUsuarios" class="highlight nowrap" style="width:100%">
                        <thead>
                        <tr class="orange">
                            <th>ID</th>
                            <th>Activo</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Rol</th>
                            <th>Nombre de usuario</th>
                            <th>Email</th>
                            <th>Registrado</th>
                            <th>Actualizado</th>
                            <th class="nosort">Editar</th>
                            <th class="nosort">Bloquear</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr class="orange">
                            <th>ID</th>
                            <th>Activo</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Rol</th>
                            <th>Nombre de usuario</th>
                            <th>Email</th>
                            <th>Registrado</th>
                            <th>Actualizado</th>
                            <th class="nosort">Editar</th>
                            <th class="nosort">Bloquear</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            {% include 'partials/modal_alta_usuario.html' %}
            {% include 'partials/modal_editar_usuario.html' %}

            <div class="col-md-12 center text-center">
                <span class="left" id="total_reg"></span>
                <ul class="pagination pager" id="pager"></ul>
            </div>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large tooltipped modal-trigger teal waves-effect waves-light" href="#modalFilters" data-position="left" data-tooltip="Filtros">
                    <i class="large material-icons">search</i>
                </a>
            </div>

            <!-- Modal Structure -->
            <div id="modalFilters" class="modal bottom-sheet modal-fixed-footer">
                <div class="modal-content">
                    <h3 class="header">Filtrar el listado de Usuarios</h3>
                    <ul class="collection">
                        <li class="collection-item">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input class="filterUsuario" id="filterUsuario" type="text">
                                <label for="filterUsuario">Filtrar por Usuario</label>
                            </div>
                        </li>
                        <li class="collection-item">
                            <p>
                                <label>
                                    <input id="filterActive" type="checkbox" checked="checked"/>
                                    <span>Listar usuarios bloqueados</span>
                                </label>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-teal btn-flat">Cerrar</a>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.material.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.fixed-action-btn').floatingActionButton();
            $('.tooltipped').tooltip();
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#tablaUsuarios').DataTable( {
                "ajax": {
                    "url": "{{ url_for('user_all') }}",
                    "dataType": "json",
                    "dataSrc": "",
                    "contentType":"application/json"
                },
                "columns": [
                    {"data": "ID"},
                    {"data": "Activo"},
                    {"data": "Nombre"},
                    {"data": "Apellido"},
                    {"data": "Rol"},
                    {"data": "Nombre de usuario"},
                    {"data": "Email"},
                    {"data": "Registrado"},
                    {"data": "Actualizado"},
                    {
                        data: null,
                        className: "center",
                        defaultContent: '<a class="editButton btn blue-grey"><i class="fas fa-edit"></i></a>'
                    },
                    {
                        data: null,
                        className: "center",
                        defaultContent: '<a class="deleteButton btn red"><i class="material-icons">cancel</i></a>'
                    }
                ],
                "language": {
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Última",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    },
                    "info":           "Mostrando resultados <b>_START_</b> al <b>_END_</b> de un total de <b>_TOTAL_</b>",
                    "infoFiltered": "<br>(<b>_MAX_ sin filtrar</b>)"
                },
                "columnDefs": [
                    { "orderable": false, "targets": 'nosort' } // Disable sorting for column 9
                ],
                sDom: 't,i,p', // Hide info
                pageLength: $('#items-per-page').data("ammount"),
                "scrollX": true
            } );
            setInterval( function () {
                var table = $('#tablaUsuarios').DataTable();
                table.ajax.reload( null, false ); // user paging is not reset on reload
            }, 5000 );
        } );
    </script>
    <script>
        $(document).ready(function(){
            var table = $('#tablaUsuarios').DataTable();
            $(".filterUsuario").on("keyup", function() {
                table
                    .columns( 5 )
                    .search( this.value )
                    .draw();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#filterActive").on("change", function(){
                var table = $('#tablaUsuarios').DataTable();
                if($("#filterActive").prop("checked") == true)
                {
                    $.fn.dataTable.ext.search.pop();
                    table.draw('full-hold');

                }
                else
                {
                    /* Custom filtering function which will search data in column 1 */
                    $.fn.dataTable.ext.search.push(
                        function( settings, data, dataIndex ) {
                            if (data[1] == 0)
                            {
                                return false;
                            }
                            return true;
                        }
                    );
                    table.draw('full-hold');
                }
            });
        });
    </script>
    <script>
        $('#modalFilters').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%', // Ending top style attribute
                ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                    //  alert("Ready");
                    console.log(modal, trigger);
                },
                complete: function() { //alert('Closed');
                } // Callback for Modal close
            }
        );
    </script>
    <script>
        $(document).ready(function(){
            $('#modalAltaUsuario').modal();
            $('#modalEditarUsuario').modal({
                    onCloseStart: function() { // Callback for Modal close
                        $.ajax({
                            type: "GET",
                            url: "{{ url_for('roles') }}",
                            success: function (response) {
                                for (var key in response){
                                    $("#select_roles option[value='" + response[key]['id'] + "']").prop("selected", false);
                                    $("#select_roles").formSelect();
                                }
                            },
                            error: function (jqXhr, textStatus, errorMessage) {
                                console.log("Error: ", errorMessage);
                            }
                        });
                    }
                }
            );
            $('select').formSelect();
        });
    </script>
    <script>
        // Delete a record
        $('#tablaUsuarios').on('click', 'a.deleteButton', function (e) {
            var table = $('#tablaUsuarios').DataTable();
            var rowData = table.row($(this).parents("tr")).data();
            var uid = rowData.ID;
            var username = rowData['Nombre de usuario'];
            if (confirm('¿Está seguro de bloquear al usuario "' + username + '" (ID: ' + uid + ')?') == true) {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('user_destroy') }}",
                    data: JSON.stringify({"id": uid}),
                    dataType: 'json',
                    contentType: 'application/json;charset=UTF-8',
                    success: function () {
                        table.ajax.reload( null, false );
                        var toastText = 'El usuario "' + username + '" (ID: ' + uid + ') fue eliminado';
                        M.toast({html: toastText, classes: 'green'});
                    },
                    statusCode: {
                        404: function (jqXHR) {
                            M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                        }
                    }
                });
            }
        });
    </script>
    <script>
        // Edit a record
        $('#tablaUsuarios').on('click', 'a.editButton', function (e) {
            var table = $('#tablaUsuarios').DataTable();
            var rowData = table.row($(this).parents("tr")).data();
            var uid = rowData.ID;
            $.ajax({
                type: "GET",
                url: "{{ url_for('user') }}",
                data: {
                    id: uid
                },
                success: function (response) {
                    for (var key in response['roles']){
                        $("#select_roles option[value='" + response['roles'][key]['id'] + "']").prop("selected", true);
                    }
                    $('#modal_editar_id').val(response['id']);
                    $('#modal_editar_activo').prop('checked', response['activo']);
                    $('#modal_editar_nombre').attr("placeholder", response['first_name']);
                    $('#modal_editar_nombre').attr("value", response['first_name']);
                    $('#modal_editar_apellido').attr("placeholder", response['last_name']);
                    $('#modal_editar_apellido').attr("value", response['last_name']);
                    $('#modal_editar_email').attr("placeholder", response['email']);
                    $('#modal_editar_email').attr("value", response['email']);
                    $('#modal_editar_username').attr("placeholder", response['username']);
                    $('#modal_editar_username').attr("value", response['username']);
                    M.updateTextFields();
                    $('#modalEditarUsuario').modal('open');
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error: ", errorMessage);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            var frm = $('#formEditarUsuario');

            frm.submit(function (e) {
                e.preventDefault();
                $('#modalEditarUsuario').modal('close');
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (response) {
                        var table = $('#tablaUsuarios').DataTable();
                        table.ajax.reload( null, false );
                        var toastText = "El usuario fue editado con éxito";
                        M.toast({html: toastText, classes: 'green'});
                    },
                    error: function (data) {
                        console.log('Error');
                        console.log(data);
                    },
                });
            });
        });
    </script>
    <script>
        var password = document.getElementById("password");
        var confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Los datos ingresados no coinciden");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
{% endblock %}