<div id="modalConfiguracion" class="modal">
    <form id="formConfiguracion" method="post" action="{{ url_for('config_update') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="modal-content">
            <h1>Configuración del sitio</h1>
            <div class="row">
                <h2 class="center light-blue-text">Información de contacto</h2>
                <div class="col s12 m6 input-field">
                    <label for="tituloHome">Título (luego del - )</label>
                    <input id="tituloHome" name="titulo" class="validate" type="text" value="{{ siteconfig['titulo'] }}" placeholder="{{ siteconfig['titulo'] }}" required>
                </div>
                <div class="col s12 m6 input-field">
                    <label for="emailContacto">Email</label>
                    <input id="emailContacto" name="email" class="validate" type="email" value="{{ siteconfig['email_contacto'] }}" placeholder="{{ siteconfig['email_contacto'] }}" required>
                </div>
                <div class="col s12 input-field">
                    <textarea id="descripcion" name="descripcion" class="materialize-textarea"  placeholder="{{ siteconfig['descripcion'] }}">{{ siteconfig['descripcion'] }}</textarea>
                    <label for="descripcion">Descripción</label>
                </div>
            </div>
            <div class="row">
                <h2 class="center light-blue-text">Otros</h2>
                <div class="col s12 input-field">
                    <label for="itemsPorPagina">Elementos por página (paginado)</label>
                    <input id="itemsPorPagina" name="items_por_pagina" class="validate" type="number" step="1" value="{{ siteconfig['items_por_pagina'] }}" placeholder="{{ siteconfig['items_por_pagina'] }}" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue waves-effect waves-button-input">Guardar</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){
        var frm = $('#formConfiguracion');

        frm.submit(function (e) {
            e.preventDefault();
            $('#modalConfiguracion').modal('close');
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (response) {
                    M.toast({html: response['msg'], classes: 'green'});
                },
                error: function (data) {
                    M.toast({html: data['msg'], classes: 'error'});
                },
            });
        });
    });
</script>