<!-- Modal Structure -->
<div id="modalConfirmarBajaUsuario" class="modal" style="max-width: 40%; height: max-content">
    <div class="container">
        <div class="row">
            <div class="modal-content col s12 center-align">
                <div class="col s12" style="margin-bottom:20px; margin-top: 20px">
                    <i class="material-icons red-text medium">delete</i>
                </div>
                <h4>¿Estás seguro?</h4>
                <br>
                <h6 id="confirmarTexto"></h6>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="modal-footer valign-wrapper">
                        <div id="confirmarCancelar" class="confirmCancelBtn modal-close waves-effect waves-green btn-flat col s6 center-align">Cancelar</div>
                        <div id="confirmarEliminar" class="confirmDeleteBtn modal-close waves-effect waves-green btn-flat col s6 center-align">Eliminar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>