<div id="modalCrearCiclo" class="modal">
    <form id="altaCiclo" method="post" action="{{ url_for('ciclo_new') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="modal-content">
            <h1>Crear Ciclo</h1>
            <div class="row">
                <div class="col s12 input-field">
                    <select id="semestre" name="semestre">
                        <option value=1 selected>Semestre 1</option>
                        <option value=2>Semestre 2</option>
                    </select>
                    <label for="semestre">Semestre</label>
                </div>
                <div class="col s12 input-field">
                    <label for="fecha_inicio">Fecha de inicio</label>
                    <input id="fecha_inicio" name="fecha_inicio" class="datepicker" type="text" required>
                </div>
                <div class="col s12 input-field">
                    <label for="fecha_fin">Fecha de finalización</label>
                    <input id="fecha_fin" name="fecha_fin" class="datepicker" type="text" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue">Guardar</button>
            <button id="cancelarAltaCiclo" class="btn red">Reiniciar</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            parse: true
        })
    })
</script>
<script>
    $(document).ready(function() {
        $("#cancelarAltaCiclo").click(function(e){
            e.preventDefault();
            $('#altaCiclo').trigger("reset");
        });
    });
</script>
<script>
    $(document).ready(function() {
        var frm = $('#altaCiclo');

        frm.submit(function (e) {
            e.preventDefault();
            $('#modalCrearCiclo').modal('close');
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (response) {
                    $('#altaCiclo').trigger("reset");
                    var toastText = response['msg'];
                    var toastClass = response['type'];
                    M.toast({html: toastText, classes: toastClass});
                },
                statusCode: {
                    400: function (jqXHR) {
                        M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                    },
                    409: function (jqXHR) {
                        M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                    },
                    500: function (jqXHR) {
                        M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                    }
                }
            });
        });
    });
</script>