<div id="modalAltaDocente" class="modal">
    <form id="altaDocente" method="post" action="{{ url_for('docente_new') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="modal-content">
            <h1>Crear Docente</h1>
            <div class="row">
                <div class="col s12 m6 input-field">
                    <label for="apellido">Apellido</label>
                    <input id="apellido" name="last_name" class="validate" type="text" required>
                </div>
                <div class="col s12 m6 input-field">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" name="first_name" class="validate" type="text" required>
                </div>
                <div class="col s12 input-field">
                    <select id="select_genero">
                        <option value="" disabled selected>Selecciona un género</option>
                        {% for genero in generos %}
                            <option value="{{genero.id}}">{{genero.nombre}}</option>
                        {% endfor %}
                    </select>
                    <label for="select_genero">Género</label>
                </div>
                <div class="col s12 input-field">
                    <label for="fecha_nacimiento">Fecha de nacimiento</label>
                    <input id="fecha_nacimiento" name="fecha_nacimiento" class="datepicker" type="text" required>
                </div>
                <div class="col s12 m6 input-field">
                    <select id="select_localidad">
                        <option value="" disabled selected>Selecciona una Localidad</option>
                        {% for localidad in localidades %}
                            <option value="{{localidad.id}}">{{localidad.nombre}}</option>
                        {% endfor %}
                    </select>
                    <label for="select_localidad">Localidad</label>
                </div>
                <div class="col s12 m6 input-field">
                    <label for="domicilio">Domicilio</label>
                    <input id="domicilio" name="domicilio" class="validate" type="text" required>
                </div>
                <div class="col s12 m6 input-field">
                    <select id="select_tipo">
                        <option value="" disabled selected>Selecciona un tipo</option>
                        {% for tipo in tipodoc %}
                            <option value="{{tipo.id}}">{{tipo.nombre}}</option>
                        {% endfor %}
                    </select>
                    <label for="select_tipo">Tipo de Documento</label>
                </div>
                <div class="col s12 m6 input-field">
                    <label for="documento_numero">Numero de Documento</label>
                    <input id="documento_numero" name="documento_numero" class="validate" type="number" required>
                </div>
                <div class="col s12 input-field">
                    <label for="telefono_numero">Numero telefónico (Opcional)</label>
                    <input id="telefono_numero" name="telefono_numero" class="validate" type="text">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn blue">Guardar</button>
            <button id="cancelarAltaDocente" class="btn red">Reiniciar</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        let current_year = new Date().getFullYear();
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            parse: true,
            yearRange: [current_year - 100, current_year],
            i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"],
                cancel: 'Cerrar',
                done: 'Seleccionar',
            }
        })
    })
</script>
<script>
    $(document).ready(function() {
        $("#cancelarAltaDocente").click(function(){
            $('#altaDocente').trigger("reset");
        });
    });
</script>
<script>
    $(document).ready(function() {
        var frm = $('#altaDocente');

        frm.submit(function (e) {
            e.preventDefault();
            $('#modalAltaDocente').modal('close');
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (response) {
                    $('#altaDocente').trigger("reset");
                    var toastText = response['msg'];
                    var toastClass = response['type'];
                    M.toast({html: toastText, classes: toastClass});
                },
                statusCode: {
                    409: function (jqXHR) {
                        M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                    },
                    500: function (jqXHR) {
                        M.toast({html: jqXHR.responseJSON['msg'], classes: 'error'});
                    }
                }
            });
        });
    });
</script>