<!-- Dropdown Structure -->
<ul id="dropdownAlumnos" class="dropdown-content">
    <li><a href="#">Ver Listado</a></li>
    <li><a href="#">Alta</a></li>
    <li><a href="#">Baja</a></li>
    <li><a href="#">Modificación</a></li>
</ul>
<!-- Dropdown Structure -->
<ul id="dropdownDocentesPreceptores" class="dropdown-content">
    <li><a href="#">Ver Listado</a></li>
    <li><a href="#">Alta</a></li>
    <li><a href="#">Baja</a></li>
    <li><a href="#">Modificación</a></li>
</ul>
<!-- Dropdown Structure -->
<ul id="dropdownInstrumentos" class="dropdown-content">
    <li><a href="#">Ver Listado</a></li>
    <li><a href="#">Alta</a></li>
    <li><a href="#">Baja</a></li>
    <li><a href="#">Modificación</a></li>
</ul>

<div class="divider"></div>
<div class="section">
    <li><a class="subheader light-blue white-text">Administrador</a></li>
    <li><a href="#">Panel</a></li>
</div>
<div class="section container">
    <li><a class="subheader">Configuración del sitio</a></li>
    <li><a href="#">Configurar</a></li>
</div>
<div class="section container">
    <li><a class="subheader">Alumnos</a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#" data-target="dropdownAlumnos">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
</div>
<div class="section container">
    <li><a class="subheader">Docentes/Prec</a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#" data-target="dropdownDocentesPreceptores">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
</div>
<div class="section container">
    <li><a class="subheader">Instrumentos</a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#" data-target="dropdownInstrumentos">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
</div>