<!-- dropdownUsuarios Structure -->
<ul id="dropdownUsuarios" class="dropdown-content teal">
    <li><a href="{{ url_for('user_list') }}">Ver Listado</a></li>
    <li><a href="{{ url_for('user_new_form') }}" class="modal-trigger">Alta</a></li>
    <li><a href="{{ url_for('user_destroy_form') }}">Baja</a></li>
    <li><a href="{{ url_for('user_edit_form') }}">Modificación</a></li>
</ul>
<!-- dropdownAlumnos Structure -->
<ul id="dropdownAlumnos" class="dropdown-content teal">
    <li><a href="#">Ver Listado</a></li>
    <li><a href="#">Alta</a></li>
    <li><a href="#">Baja</a></li>
    <li><a href="#">Modificación</a></li>
</ul>
<!-- dropdownDocentesPreceptores Structure -->
<ul id="dropdownDocentesPreceptores" class="dropdown-content teal">
    <li><a href="#">Ver Listado</a></li>
    <li><a href="#">Alta</a></li>
    <li><a href="#">Baja</a></li>
    <li><a href="#">Modificación</a></li>
</ul>
<!-- dropdownInstrumentos Structure -->
<ul id="dropdownInstrumentos" class="dropdown-content teal">
    <li><a href="#">Ver Listado</a></li>
    <li><a href="#">Alta</a></li>
    <li><a href="#">Baja</a></li>
    <li><a href="#">Modificación</a></li>
</ul>

<div class="section">
    <a class="subheader light-blue white-text"><b>Administrador</b></a>
</div>
<div class="section">
    <li><a class="subheader">Usuarios</a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#" data-target="dropdownUsuarios">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
</div>
<div class="divider"></div>
<div class="section">
    <li><a class="subheader">Alumnos</a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#" data-target="dropdownAlumnos">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
</div>
<div class="divider"></div>
<div class="section">
    <li><a class="subheader">Docentes/Prec</a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#" data-target="dropdownDocentesPreceptores">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
</div>
<div class="divider"></div>
<div class="section">
    <li><a class="subheader">Instrumentos</a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger" href="#" data-target="dropdownInstrumentos">Acciones<i class="material-icons right">arrow_drop_down</i></a></li>
</div>
<div class="divider"></div>
<div class="section">
    <li><a class="subheader">Configuración</a></li>
    <li><a href="{{ url_for('config_edit') }}">Configurar</a></li>
    <li><a class="subheader black red-text" href="#">Modo Mantenimiento</a></li>
    <li><div class="switch center">
        <p>Modo Mantenimiento</p>
        <label>
            Deshabilitado
            {% if siteconfig['modo_mantenimiento'] == 1 %}
                <input id="switchMantenimientoNav" type="checkbox" checked="checked">
            {% else %}
                <input id="switchMantenimientoNav" type="checkbox">
            {% endif %}
            <span class="lever"></span>
            Habilitado
        </label>
    </div></li>
</div>
<script>
    $(document).ready(function () {
        $("#switchMantenimientoNav").on("change", function(){
            $.ajax({
                type: "POST",
                url : '/mantenimiento',
                success: function (response) {
                    var checked;
                    if(response['modo_mantenimiento'] == 1)
                    {
                        M.toast({html: 'Mantenimiento activado!', classes: 'orange darken-4'});
                        checked = true;
                    }
                    else
                    {
                        M.toast({html: 'Mantenimiento desactivado!', classes: 'grey'});
                        checked = false;
                    }
                    if ( $("#switchMantenimiento").length ) {
                        $("#switchMantenimiento").prop("checked",checked);
                    }
                },
            });
        });
    });
</script>